
/* very convenient container to propagate full height
 * NOTE: full height applied by default on <html> and <body>
 * but adding this activates the debug markings
 */
.o⋄top-container {
	/* debug technique */
	box-sizing: border-box;
	border-style: solid;
	border-width: 0; /* xxx change this for debug */

	display: flex;
	flex-direction: column;

	height: 100%;
}

.o⋄centered-article {
	border-color: blueviolet; /* for debug */

	max-width: 650px; /* a suggested good max width for text content. Taken from http://bettermotherfuckingwebsite.com/ */
	width: 100%; /* avoid lower than max if possible */

	margin: 0 auto;/* horizontal centering */

	padding: 7px; /* looks good by default. Use o⋄pad⁚0 else */
}


.o⋄error-report {
	font-size: xx-small;
	font-family: monospace;
	color: red; /* TODO */
	background-color: rgba(0, 0, 0, .3); /* TODO */
	margin: auto;
	z-index: 100000; /* just in case TODO check */
}
.o⋄error-report > pre {
	white-space: pre-wrap;
	text-align: initial;
}
