
/*********************/

:root {
	--o⋄border--thickness: 1px;
	--o⋄font-size--default: 18px;
	/*--o⋄border--thickness: .08em;*/
}

/* apply a natural box layout model to all elements, but allowing components to change
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html                 { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* but allow to reset it if needed
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
.box-sizing-reset {
	box-sizing: initial;
}

/*********************/

html, body {
	height: 100%;
	/* TOCHECK
	 * https://github.com/mike-engel/a11y-css-reset/blob/master/reset.css
	 */
	min-height: 100%;
	width: 100%;
}

html {
	margin: 0;
	padding: 0;

	/* https://evilmartians.com/chronicles/scroll-to-the-future-modern-javascript-css-scrolling-implementations */
	scroll-behavior: smooth;
}

body {
	/* adapted from http://perfectmotherfuckingwebsite.com */
	max-width: 650px;
	margin: 0 auto; /* 0 for the 100% trick to work, auto for centering */
	padding: 40px 10px;
	font-family: var(--o⋄font-family--fast_and_good_enough);
	color: var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main);

	/* https://www.leejamesrobinson.com/blog/how-stripe-designs-beautiful-websites/ */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* TODO replace with typography.js */
	line-height: 1.6;
	font-size: var(--o⋄font-size--default);
}


/* TODO replace with typography.js */
h1, h2, h3 {
	/* http://perfectmotherfuckingwebsite.com/ */
	line-height: 1.2;
}
h1, h2, h3, h4, p {
	/* because they are too big by default */
	margin: .7em 0;
}


/* src: ? */
img {
	image-rendering: -webkit-optimize-contrast;
}




/* Adapt links to the main color.
 * Better than the defaults.
 */
a { text-decoration-color: var(--o⋄color--fg⁚secondary); }
a:link,
a:visited {color: inherit;}
a:hover,
a:active {color: var(--o⋄color--fg⁚accent);}


/* Nicer HR
 * possible ideas: https://css-tricks.com/examples/hrs/
 */
hr {
	/* simple one */
	width: 100%;
	border: none;
	border-top: var(--o⋄border--thickness) solid;
	background-color: var(--o⋄color--fg⁚ancillary);
}


/* https://github.com/mike-engel/a11y-css-reset/blob/master/a11y.css */
/* prettier-ignore */
@media(prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition: none !important;
		animation: none !important;
		scroll-behavior: auto !important;
	}
}

/* TODO check */
/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
.plain-list {
	list-style: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E");
	padding-left: 0;
}
