
html {
	border-color: yellow; /* for debug, display only if debug activated */

	height: 100%;

	margin: 0;
	padding: 0;

	/* https://evilmartians.com/chronicles/scroll-to-the-future-modern-javascript-css-scrolling-implementations */
	scroll-behavior: smooth;
}

/* apply a natural box layout model to all elements, but allowing components to change
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html                 { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


body {
	border-color: orange; /* for debug, display only if debug activated */

	height: 100%;

	/* adapted from http://perfectmotherfuckingwebsite.com */
	max-width: 650px;
	margin: 0 auto; /* 0 for the 100% trick to work, auto for centering */
	padding: 40px 10px;
	font-family: var(--o⋄font-family--fast_and_good_enough);
	color: var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main);

	/* https://www.leejamesrobinson.com/blog/how-stripe-designs-beautiful-websites/ */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* TODO replace with typography.js */
	line-height: 1.6;
	font-size: 18px;
}


/* TODO replace with typography.js */
h1, h2, h3 {
	/* http://perfectmotherfuckingwebsite.com/ */
	line-height: 1.2;
}
h1, h2, h3, p {
	/* because they are too big by default */
	margin: .7em 0;
}


/* src: ? */
img {
	image-rendering: -webkit-optimize-contrast;
}




/* Adapt links to the main color.
 * Better than the defaults.
 */
a { text-decoration-color: var(--o⋄color--fg⁚secondary); }
a:link,
a:visited {color: inherit;}
a:hover,
a:active {color: red;}


/* Nicer HR
 * possible ideas: https://css-tricks.com/examples/hrs/
 */
hr {
	/* simple one */
	width: 100%;
	border: .05em solid;
	background-color: var(--o⋄color--fg⁚ancillary);
}
