
/******* atoms *******/

.o⋄text-align⁚center {
	text-align: center;
}

.o⋄text-noselect {
	cursor:  pointer;

	/* disable text selection, since unclean clicks/taps may select text
	 * and cause inconvenience (especially on mobile)
	 * http://stackoverflow.com/a/4407335/587407
	 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/******* lists *******/

.o⋄nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}
.o⋄nav-list li {
	/* disable text selection, since unclean clicks/taps may select text
	 * and cause inconvenience (especially on mobile)
	 * http://stackoverflow.com/a/4407335/587407
	 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.o⋄nav-list a {
	text-decoration: none;
}
/* https://stackoverflow.com/a/8185290/587407 */
.o⋄nav-list li + li  {
	margin-left: 16px;
}

/******* flex *******/

.o⋄flex-row {
	display: flex;
	flex-direction: row;
}
.o⋄flex-column {
	display: flex;
	flex-direction: column;
}

/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
.o⋄flex-element-nogrow {
	flex-grow: 0;
}
.o⋄flex-element-grow {
	flex-grow: 1;
}

/******* Checkbox hack *******
 * https://css-tricks.com/the-checkbox-hack/
 */
.o⋄checkbox-hacked {
	position: absolute;
	opacity: 0.5;
	pointer-events: none;
}

/******* animated progress *******
 * See also the progress reset in style--reset.css
 * https://snook.ca/archives/html_and_css/animating-progress
 */
/* animated */
progress.o⋄animated::-webkit-progress-value {
	transition: width 1s;
}
progress.o⋄animated::-moz-progress-bar {
	transition: padding-bottom 1s;
	padding-left: 60px;
	padding-bottom: var(--value);
	height: 0;
	transform-origin: 0 0;
	transform: rotate(-90deg) translateX(-60px) ;
}
progress.o⋄animated::-ms-fill {
	border:0;
}
