/* Good tools:
 * http://www.cssportal.com/css-color-converter/
 * https://picular.co/quality
 */
:root {
	--o⋄color--transparent: rgba(0, 0, 0, 0);

	--o⋄color__darker--10: rgba(0, 0, 0, .1);
	--o⋄color__darker--20: rgba(0, 0, 0, .2);
	--o⋄color__darker--90: rgba(0, 0, 0, .9);

	--o⋄color__lighter--10: rgba(100%, 100%, 100%, .1);
	--o⋄color__lighter--20: rgba(100%, 100%, 100%, .2);
	--o⋄color__lighter--90: rgba(100%, 100%, 100%, .9);

	/* Base colors
	 * dark-on-light theme, good default, but can also be used in reverse on light-on-dark
	 * https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886
	 */
	--o⋄color__dolt__quasi-black: hsl(0, 0%, 17%); /* 17 or 26 ? */
	--o⋄color__dolt__dark-grey:   hsl(0, 0%, 33%);
	--o⋄color__dolt__medium-grey: hsl(0, 0%, 66%);
	--o⋄color__dolt__quasi-white: hsl(0, 0%, 98%);

	/* accent on tab, seldom used */
	--o⋄color--fg⁚accent: #7AACFE; /* classic blue */

	/* from http://boz.com/
	 * Looks good on dark backgrounds
	 */
	--o⋄color__boz__gray:     hsl(0,    0%, 60%);
	--o⋄color__boz__yellow:   hsl(53,  87%, 57%);
	--o⋄color__boz__pink:     hsl(318, 87%, 69%);
	--o⋄color__boz__green:    hsl(93,  73%, 61%);
	--o⋄color__boz__cyan:     hsl(180, 86%, 52%);
	--o⋄color__boz__blue:     hsl(199, 81%, 56%);
	--o⋄color__boz__purple:   hsl(269, 83%, 77%);
}

/******* themes *******/
/* TODO hue based https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a */

:root, /* this theme is the default */
[data-o-theme="dark-on-light"] {
	--o⋄color--bg⁚main: var(--o⋄color__dolt__quasi-white);
	--o⋄color--bg⁚main--backdrop: rgba(98%, 98%, 98%, .88); /* TODO review */
	--o⋄color--bg⁚highlight--1: rgba(0, 0, 0, .1);
	--o⋄color--bg⁚highlight--2: rgba(0, 0, 0, .3);

	--o⋄color--fg⁚main: var(--o⋄color__dolt__quasi-black);
	--o⋄color--fg⁚secondary: hsla(0, 0%, 17%, .66);
	--o⋄color--fg⁚ancillary: hsla(0, 0%, 17%, .33);

	/* levels TODO improve */
	--o⋄color--fg⁚error: hsl(360, 100%, 64%);
	--o⋄color--fg⁚warning: var(--o⋄color__boz__yellow);
	--o⋄color--fg⁚info: var(--o⋄color__boz__blue);
	--o⋄color--fg⁚success: var(--o⋄color__boz__green);
}

/* light on dark theme */
[data-o-theme="light-on-dark"] {
	--o⋄color--bg⁚main: var(--o⋄color__dolt__quasi-black);
	--o⋄color--bg⁚main--backdrop: rgba(17%, 17%, 17%, .9); /* TODO review */
	--o⋄color--bg⁚highlight--1: rgba(100%, 100%, 100%, .1);
	--o⋄color--bg⁚highlight--2: rgba(100%, 100%, 100%, .2);

	--o⋄color--fg⁚main: var(--o⋄color__dolt__quasi-white);
	--o⋄color--fg⁚secondary: hsla(0, 0%, 98%, .66);
	--o⋄color--fg⁚ancillary: hsla(0, 0%, 98%, .33);

	/* levels */
	--o⋄color--fg⁚error: hsl(19, 81%, 56%);
	--o⋄color--fg⁚warning: var(--o⋄color__boz__yellow);
	--o⋄color--fg⁚info: var(--o⋄color__boz__blue);
	--o⋄color--fg⁚success: var(--o⋄color__boz__green);
}

/******* themes *******/

.o⋄color⁚main {
	color: var(--o⋄color--fg⁚main);
}

.o⋄color⁚secondary {
	color: var(--o⋄color--fg⁚secondary);
}

.o⋄color⁚ancillary {
	color: var(--o⋄color--fg⁚ancillary);
}

/******* utils *******/
/* temporary class to transition themes smoothly
 * https://medium.com/@mwichary/dark-theme-in-a-day-3518dde2955a
 * TODO
html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
	transition: all 750ms !important;
	transition-delay: 0 !important;
}
*/
