
/* very convenient container to propagate full height */
.o⋄top-container {
	/* debug technique */
	box-sizing: border-box;
	border-style: solid;
	border-width: 0; /* xxx change this for debug */

	display: flex;
	flex-direction: column;

	height: 100%;
}

.o⋄centered-article {
	border-color: blueviolet; /* for debug */

	max-width: 650px; /* a suggested good max width for text content. Taken from http://bettermotherfuckingwebsite.com/ */
	width: 100%; /* avoid lower than max if possible */

	margin: 0 auto;/* horizontal centering */

	padding: 7px; /* looks good by default. Use o⋄pad⁚0 else */
}


.o⋄error-boundary-report {
	font-size: xx-small;
	font-family: monospace;
	color: red;
	background-color: rgba(0, 0, 0, .3);
	margin: auto;
	z-index: 100; /* just in case */
}



/******* container utils *******/

.o⋄overflow-y⁚auto {
	overflow-y: auto;
}

/* XXX NO there is likely a underlying problem
.o⋄no-overflow {
	overflow-x: hidden;
	overflow-y: hidden;
}
*/

.o⋄pad⁚0 {
	padding: 0;
}
.o⋄pad⁚5 {
	padding: 5px;
}
.o⋄pad⁚7 {
	padding: 7px;
}

.o⋄height⁚100pc {
	height: 100%;
}
