/* Global considerations for Rich Text display:
 * - must be "terminal-like", since it's supposed to be displayed the same on a console
 * - has only 1 main direction
 *
 */

.o⋄rich-text {
	display: contents;
}

.o⋄rich-text div.o⋄rich-text⁚inline {
	display: inline;
}

/* nicer lists: copied from @offirmo-private/ui--browser--css
 */
.o⋄rich-text ol,
.o⋄rich-text ul {
	padding-inline-start: 1.5em;
}
/*.o⋄rich-text li > ul,
.o⋄rich-text li > ol {
	padding-inline-start: 0;
	padding-left: 0;
}*/

ol.o⋄rich-text⋄list--no-bullet,
ul.o⋄rich-text⋄list--no-bullet {
	list-style-type: none;
	/* still keep some padding start */
}
ol.o⋄rich-text⋄list--interactive,
ul.o⋄rich-text⋄list--interactive {
	list-style-type: none;
	padding-inline-start: 0;
}

button.o⋄rich-text⋄interactive {
	/* see o⋄button--inline first */
}

.o⋄rich-text⋄list--interactive button.o⋄rich-text⋄interactive {
	padding: .3em;
	height: 3em;
	width: 99%;
	text-align: left;
}

/* only for react render */
.ToolTipPortal {
	z-index: 999;
}
