

.tbrpg⋄bg-image⁚ancient-castle {
	background-image: url('backgrounds/ancient_castle-dan_zhao.jpg');
	background-position: 34%;
}

.tbrpg⋄bg-image⁚desert {
	background-image: url('backgrounds/artwork1-dan_zhao.jpg');
	background-position: 32%; /* 59 */
}

.tbrpg⋄bg-image⁚lost_castle {
	background-image: url('backgrounds/artwork2-dan_zhao.jpg');
	background-position: 39%;
}

.tbrpg⋄bg-image⁚cabin_in_cave {
	background-image: url('backgrounds/cabin_in_the_cave-dan_zhao.jpg');
	background-position: 57%;
}

.tbrpg⋄bg-image⁚castle_phantom {
	background-image: url('backgrounds/castle_phantom-raphael_lacoste.jpg');
	background-position: 5%;
}

.tbrpg⋄bg-image⁚city_gates {
	background-image: url('backgrounds/city_gates-andreas_rocha.jpg');
	background-position: 63%;
}

.tbrpg⋄bg-image⁚civilization {
	background-image: url('backgrounds/civilization-blinck.jpg');
	background-position: 41%;
}

.tbrpg⋄bg-image⁚dmitry-kremiansky-a_secret_place_alps {
	background-image: url('backgrounds/dmitry-kremiansky-a_secret_place_alps.jpg');
	background-position: 47%;
}
.tbrpg⋄bg-image⁚dmitry-kremiansky-street {
	background-image: url('backgrounds/dmitry-kremiansky-streets.jpg');
	background-position: 79%;
}
.tbrpg⋄bg-image⁚dmitry-kremiansky-depth_needed {
	background-image: url('backgrounds/dmitry-kremiansky-depth_needed.jpg');
	background-position: 74%;
}
.tbrpg⋄bg-image⁚dmitry-kremiansky-ship {
	background-image: url('backgrounds/dmitry-kremiansky-ship.jpg');
	background-position: 52%;
}

.tbrpg⋄bg-image⁚fields_of_gold {
	background-image: url('backgrounds/fields_of_gold-andreas_rocha.jpg');
	background-position: 62%;
}

.tbrpg⋄bg-image⁚gnomon {
	background-image: url('backgrounds/gnomon-raphael_lacoste.jpg');
	background-position: 32%;
}

.tbrpg⋄bg-image⁚gothic_choir {
	background-image: url('backgrounds/gothic_choir-raphael_lacoste.jpg');
	background-position: 30%;
}

.tbrpg⋄bg-image⁚half_remembered_ruins {
	background-image: url('backgrounds/half_remembered_ruins-blinck.jpg');
	background-position: 60%;
}

.tbrpg⋄bg-image⁚journey_to_the_center_of_the_earth {
	background-image: url('backgrounds/journey_to_the_center_of_the_earth-raphael_lacoste.jpg');
	background-position: 55%;
}

.tbrpg⋄bg-image⁚jungle {
	background-image: url('backgrounds/jungle-raphael_lacoste.jpg');
	background-position: 15%;
}

.tbrpg⋄bg-image⁚cloud_city_palace {
	background-image: url('backgrounds/jupiter_ascending_palace-raphael_lacoste.jpg');
	background-position: 39%;
}

.tbrpg⋄bg-image⁚cloud_city {
	background-image: url('backgrounds/jupiter_ascending-raphael_lacoste.jpg');
	background-position: 22%;
}

.tbrpg⋄bg-image⁚kvasir_fortress {
	background-image: url('backgrounds/kvasir_fortress-raphael_lacoste.jpg');
	background-position: 84%;
}

.tbrpg⋄bg-image⁚barren_landscape {
	background-image: url('backgrounds/landscape-raphael_lacoste.jpg');
	background-position: 17%;
}

.tbrpg⋄bg-image⁚lost_island {
	background-image: url('backgrounds/lost_island-raphael_lacoste.jpg');
	background-position: 2%;
}

.tbrpg⋄bg-image⁚monoliths {
	background-image: url('backgrounds/monoliths-raphael_lacoste.jpg');
	background-position: 0%;
}

.tbrpg⋄bg-image⁚return_of_the_knight {
	background-image: url('backgrounds/return_of_the_knight-raphael_lacoste.jpg');
	background-position: 79%;
}

.tbrpg⋄bg-image⁚snowcapped_environment {
	background-image: url('backgrounds/snowcapped_environment-julius_camenzind.jpg');
	background-position: 74%;
}

.tbrpg⋄bg-image⁚north_country {
	background-image: url('backgrounds/some_skyrim_like.jpg');
	background-position: 2%;
}

.tbrpg⋄bg-image⁚viking_ambush {
	background-image: url('backgrounds/viking_ambush-raphael_lacoste.jpg');
	background-position: 25%;
}


.panel-top-content {
	padding: 5px;
	overflow-y: auto;
}

/* TODO move to OMR ? */
.main-area {
	z-index: calc(10 + var(--omr⋄ui__immersion-view--z-index));
}

/* override. TODO review */
.o⋄centered-article {
	padding: 0;
}
