{
	"plugins": [
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-proposal-object-rest-spread"
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"last 1 Chrome versions",
						"last 1 Firefox versions"
					]
				}
			}
		]
	]
}
