#group-chat-container {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: var(--o⋄color⁚bg--main--backdrop);

	transform: translate3d(500px, 0, 0);
	transition: transform .25s ease-in-out;
}
.group-chat-container--open {
	/* 10px partially hide the scrollbar, nicer */
	transform: translate3d(10px, 0, 0) !important;
}
#tlkio-error-msg {
	color: #fff;
	padding: 20px;
	text-align: center;
}

/* https://stackoverflow.com/a/37600130/587407 */
/* big screens */
#group-chat-container {
	width: 500px;
	z-index: calc(var(--omr⋄ui__meta-view--z-index) - 20);
}
/* small screens */
@media screen and (max-width: 500px) {
	#group-chat-container {
		width: 95%;
	}
}

#tlkio {
	padding-bottom: 29px;
/*
	height: 100%;
	width: 100%;
 */
}
