{
	"plugins": [
		["@babel/plugin-proposal-class-properties", { "loose": false }]
	],
	"presets": [
		[
			"@babel/env",
			{
				"targets": {
					"browsers": [
						"last 1 Chrome versions",
						"last 1 Firefox versions"
					]
				}
			}
		]
	]
}
