
/* vars */
:root {
	--omr⋄ui⋄base__scale: 0.8;

	--omr⋄ui__immersion-view--z-index: 100;
	--omr⋄ui__meta-view--z-index: 1000;

	--omr⋄ui__border--width: 3px;

	--omr⋄ui__hamburger--diameter: 69px;
	--omr⋄ui__hamburger--visible-ratio: 0.725;

	--omr⋄ui__logo--height: calc(
		var(--omr⋄ui__hamburger--diameter)
		* 0.8
	);
	--omr⋄ui__logo--visible-ratio: 0.8;

	--omr⋄ui__meta--shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

	/* intermediate */
	--omr⋄ui__hamburger--visible-width: calc(
		(
			var(--omr⋄ui__hamburger--diameter)
		) * var(--omr⋄ui__hamburger--visible-ratio)
	);
}


.omr⋄top-hud {
	position: absolute; /* prevent from taking room */
	display: flex;
	flex-direction: row;
}

.omr⋄hamburger {
	--scale: var(--omr⋄ui__hamburger--scale, var(--omr⋄ui⋄base__scale));
	--diameter: calc(var(--omr⋄ui__hamburger--diameter) * var(--scale));
	--visible-ratio: var(--omr⋄ui__hamburger--visible-ratio);

	z-index: calc(20 + var(--omr⋄ui__meta-view--z-index));
	box-shadow: var(--omr⋄ui__meta--shadow);
	cursor: pointer;

	/* circle shape
	 * https://css-tricks.com/examples/ShapesOfCSS/
	 */
	width: var(--diameter);
	height: var(--diameter);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	color: var(--o⋄color--fg⁚main);
	border: solid calc(var(--omr⋄ui__border--width) * var(--scale)) var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main);

	font-size: calc(33px * var(--scale));

	position: fixed;
	top: calc(var(--diameter) * (1 - var(--visible-ratio)) * -1);
	left: calc(var(--diameter) * (1 - var(--visible-ratio)) * -1);
}
.omr⋄hamburger:hover {
	--omr⋄ui__hamburger--scale: calc(var(--omr⋄ui⋄base__scale) * 1.035);
}
.omr⋄hamburger > span {
	position: fixed;
	top: calc(4.5px * var(--scale));
	left: calc(3px * var(--scale));
}

.omr⋄logo {
	--scale: var(--omr⋄ui__logo--scale, var(--omr⋄ui⋄base__scale));
	--height: calc(var(--omr⋄ui__logo--height) * var(--scale));
	--visible-ratio: var(--omr⋄ui__logo--visible-ratio);

	z-index: calc(10 + var(--omr⋄ui__meta-view--z-index));
	box-shadow: var(--omr⋄ui__meta--shadow);
	cursor: pointer;

	/* TV shape (half)
	 * https://css-tricks.com/examples/ShapesOfCSS/
	 */
	height: var(--height);
	max-height: var(--height);
	border-radius: 4% / 60%;

	color: var(--o⋄color--fg⁚main);
	border: solid calc(var(--omr⋄ui__border--width) * var(--scale)) var(--o⋄color--fg⁚main);
	background: var(--o⋄color--bg⁚main);

	position: fixed;
	--position-shift: calc(var(--height) * (1 - var(--visible-ratio)));
	top: calc(var(--position-shift) * -1);
	left: calc(var(--position-shift) * -1);

	padding-top: calc(var(--position-shift) - 2px); /* this one has to be manually adjusted by user */
	padding-left: calc(var(--position-shift) + (var(--omr⋄ui__hamburger--visible-width) + 5px) * var(--scale));
	padding-right: calc(var(--position-shift));

	/* Help center content */
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.omr⋄logo:hover {
	--omr⋄ui__logo--scale: calc(var(--omr⋄ui⋄base__scale) * 1.025);
}
.omr⋄logo > span {
	align-items: center;
}

.omr⋄status⁚user {
	--scale: var(--omr⋄ui__status⁚user--scale, var(--omr⋄ui⋄base__scale));
	--height: calc((var(--omr⋄ui__logo--height) - var(--omr⋄ui__border--width)) * var(--scale));
	--visible-ratio: var(--omr⋄ui__logo--visible-ratio);

	z-index: calc(90 + var(--omr⋄ui__immersion-view--z-index));
	cursor: pointer;

	/* TV shape (half)
	 * https://css-tricks.com/examples/ShapesOfCSS/
	 */
	height: var(--height);
	max-height: var(--height);
	border-radius: 1% / 40%;

	color: var(--o⋄color--fg⁚main);
	border: none;
	background: var(--o⋄color--bg⁚main--50pc);

	position: fixed;
	--position-shift: calc(var(--height) * (1 - var(--visible-ratio)));
	top: calc(var(--position-shift) * -1);
	left: calc(var(--position-shift) * -1);

	padding-top: var(--position-shift);
	/* TODO remove 120px */
	padding-left: calc(var(--position-shift) + 120px + var(--omr⋄ui__hamburger--visible-width) * var(--scale));
	padding-right: calc(5px * var(--scale));

	/* Help center content */
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.omr⋄status⁚user:hover {
	--omr⋄ui__status⁚user--scale: calc(var(--omr⋄ui⋄base__scale) * 1.025);
}
.omr⋄status⁚user > span {
	align-items: center;
}


.omr⋄status⁚location {

}
