
/* vars */
:root {
	--omr⋄ui⋄base__scale: 0.8;

	--omr⋄ui__immersion-view--z-index: 100;
	--omr⋄ui__meta-view--z-index: 1000;

	--omr⋄ui__border--width: 3px;

	--omr⋄ui__hamburger--diameter: 69px;
	--omr⋄ui__hamburger--visible-ratio: 0.725;

	--omr⋄ui__logo--height: calc(
		var(--omr⋄ui__hamburger--diameter)
		* 0.8
	);

	--omr⋄ui__logo--visible-ratio: 0.8;
	--omr⋄ui__logo--width: 200px;

	--omr⋄ui__bottom-menu--height: 69px;
	--omr⋄ui__bottom-menu--visible-ratio: 0.7;

	--omr⋄ui__meta--shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
	--omr⋄ui__universe--shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);

	/* intermediate */
	--omr⋄ui__hamburger--visible-width: calc(
		(
			var(--omr⋄ui__hamburger--diameter)
		) * var(--omr⋄ui__hamburger--visible-ratio)
	);
}

/*********************/

.omr⋄z-index⁚immersion {
	z-index: var(--omr⋄ui__immersion-view--z-index);
}

/*********************/

.omr⋄top-hud, .omr⋄bottom-hud {
	position: absolute; /* prevent from taking room */
	display: flex;
	flex-direction: row;
}

.omr⋄hamburger {
	--scale: var(--omr⋄ui__hamburger--scale, var(--omr⋄ui⋄base__scale));
	--diameter: calc(var(--omr⋄ui__hamburger--diameter) * var(--scale));
	--visible-ratio: var(--omr⋄ui__hamburger--visible-ratio);

	z-index: calc(20 + var(--omr⋄ui__meta-view--z-index));
	box-shadow: var(--omr⋄ui__meta--shadow);
	cursor: pointer;

	/* circle shape
	 * https://css-tricks.com/examples/ShapesOfCSS/
	 */
	width: var(--diameter);
	height: var(--diameter);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	color: var(--o⋄color--fg⁚main);
	border: solid calc(var(--omr⋄ui__border--width) * var(--scale)) var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main);

	font-size: calc(33px * var(--scale));

	position: fixed;
	top: calc(var(--diameter) * (1 - var(--visible-ratio)) * -1);
	left: calc(var(--diameter) * (1 - var(--visible-ratio)) * -1);
}
.omr⋄hamburger:hover {
	--omr⋄ui__hamburger--scale: calc(var(--omr⋄ui⋄base__scale) * 1.05);
}
.omr⋄hamburger > span {
	position: fixed;
	top: calc(5px * var(--scale));
	left: calc(5px * var(--scale));
}

.omr⋄logo {
	--scale: var(--omr⋄ui__logo--scale, var(--omr⋄ui⋄base__scale));
	--height: calc(var(--omr⋄ui__logo--height) * var(--scale));
	--visible-ratio: var(--omr⋄ui__logo--visible-ratio);
	--padding: calc(var(--omr⋄ui__logo--padding, 6px) * var(--scale));

	z-index: calc(10 + var(--omr⋄ui__meta-view--z-index));
	box-shadow: var(--omr⋄ui__meta--shadow);
	cursor: pointer;

	/* TV shape (half)
	 * https://css-tricks.com/examples/ShapesOfCSS/
	 */
	height: var(--height);
	max-height: var(--height);
	border-radius: 4% / 60%;

	color: var(--o⋄color--fg⁚main);
	border: solid calc(var(--omr⋄ui__border--width) * var(--scale)) var(--o⋄color--fg⁚main);
	background: var(--o⋄color--bg⁚main);

	position: fixed;
	--position-shift: calc(var(--height) * (1 - var(--visible-ratio)));
	top: calc(var(--position-shift) * -1);
	left: calc(var(--position-shift) * -1);

	padding-top: calc(var(--position-shift) - 3px * var(--scale));
	padding-left: calc(var(--position-shift) + (var(--omr⋄ui__hamburger--visible-width) - 3px) * var(--scale));
	padding-right: calc(var(--position-shift) - 8px * var(--scale));

	/* Help center content */
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.omr⋄logo:hover {
	--omr⋄ui__logo--scale: calc(var(--omr⋄ui⋄base__scale) * 1.025);
}
.omr⋄logo > * {
	padding: var(--padding);
	align-items: center;
}

.omr⋄universe-anchor {
	--scale: var(--omr⋄ui__universe-anchor--scale, var(--omr⋄ui⋄base__scale));
	--height: calc((var(--omr⋄ui__logo--height) - var(--omr⋄ui__border--width)) * var(--scale));
	--visible-ratio: var(--omr⋄ui__logo--visible-ratio);
	--padding: calc(var(--omr⋄ui__universe-anchor--padding, 6px) * var(--scale));

	z-index: calc(90 + var(--omr⋄ui__immersion-view--z-index));
	cursor: pointer;
	box-shadow: var(--omr⋄ui__universe--shadow);

	/* TV shape (half)
	 * https://css-tricks.com/examples/ShapesOfCSS/
	 */
	height: var(--height);
	max-height: var(--height);
	border-radius: calc(5px * var(--scale)) / calc(30px * var(--scale));

	color: var(--o⋄color--fg⁚main);
	border: none;
	background: var(--o⋄color--bg⁚main--translucent);

	position: fixed;
	--position-shift: calc(var(--height) * (1 - var(--visible-ratio)));
	top: calc(var(--position-shift) * -1);
	left: calc(var(--position-shift) * -1);

	padding-top: calc(var(--position-shift) + 0px * var(--scale));
	padding-left: calc(
		var(--omr⋄ui__hamburger--visible-width) * var(--scale)
		+ var(--omr⋄ui__logo--width)
		+ var(--position-shift));
	padding-right: 0;
}
.omr⋄universe-anchor:hover {
	--omr⋄ui__universe-anchor--scale: calc(var(--omr⋄ui⋄base__scale) * 1.04);
}
.omr⋄universe-anchor > * {
	/* Help center content */
	padding: var(--padding);
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

.omr⋄status⁚location {
	/* TODO */
}

.omr⋄bottom-menu {
	--scale: var(--omr⋄ui__bottom-menu--scale, var(--omr⋄ui⋄base__scale));
	--height: calc((var(--omr⋄ui__bottom-menu--height) - var(--omr⋄ui__border--width)) * var(--scale));
	--visible-ratio: var(--omr⋄ui__bottom-menu--visible-ratio);
	--padding: calc(6px * var(--scale));

	z-index: calc(90 + var(--omr⋄ui__immersion-view--z-index));

	/* TV shape (half)
	 * https://css-tricks.com/examples/ShapesOfCSS/
	 */
	height: var(--height);
	max-height: var(--height);
	border-radius: calc(8px * var(--scale)) / 40%;

	color: var(--o⋄color--fg⁚main);
	border: solid calc(1px * var(--scale)) var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main--translucent);

	position: fixed;
	--position-shift: calc(var(--height) * (1 - var(--visible-ratio)));
	bottom: calc(var(--position-shift) * -1);
	right: calc(var(--position-shift) * -1);

	padding-bottom: calc(var(--position-shift) + 0px * var(--scale));
	padding-right: calc(var(--position-shift));
	padding-left: calc(3px * var(--scale));

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.omr⋄bottom-menu⁚icon {
	align-self: center;
	font-size: 32px;
	margin: 0 6px;
	cursor: pointer;
}
.omr⋄bottom-menu⁚icon:hover {
	text-shadow: 0 0 20px var(--o⋄color--fg⁚main);
}


/************/

.omr⋄meta-background {
	z-index: var(--omr⋄ui__meta-view--z-index);
}
