{
	"plugins": [
		"transform-class-properties"
	],
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": [
						"last 2 Chrome versions",
						"last 2 Firefox versions"
					]
				}
			}
		],
		"stage-0"
	]
}
