@import "../../3-advanced--browser/ui--browser--css/src/style.css";
@import "../../3-advanced--browser/ui--browser--css/src/extras/diagnostics.css";
/*
@import "https://cdn.jsdelivr.net/gh/Offirmo/offirmo-monorepo@master/3-advanced--browser/ui--browser--css/dist/offirmo-reset%2Butils.css";
@import "https://cdn.jsdelivr.net/gh/Offirmo/offirmo-monorepo@master/3-advanced--browser/ui--browser--css/src/style--theme--dark--colorhunt212.css";
 */
