@import '../../../node_modules/@offirmo-private/view-css/src/style.css';
@import '../../../node_modules/@offirmo-private/view-css/src/style--theme--lod-colorhunt212.css';

:root {
	--o⋄font-size--default: 14px;
}


/* adjustments */
[data-o-theme="lod--colorhunt212"] {
	--o⋄color--bg⁚main: var(--o⋄color__co212__brown);
}

body {
	width: 650px; /* needed to force popup size */
	padding: 0 10px 10px 10px;
}


.left-right-aligned
{
	display: table;
	width: 100%;
}
.left-right-aligned > div:first-child
{
	display: table-cell;
	text-align: left;
}
.left-right-aligned > div:last-child
{
	display: table-cell;
	text-align: right;
}
