.notification-indicator {

	/* circle shape
	   https://css-tricks.com/examples/ShapesOfCSS/
	 */
	/*width: 100px;
	height: 100px;*/
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	
	position: absolute;
}
