/* Global considerations for Rich Text display:
 * - must be "terminal-like", since it's supposed to be displayed the same on a console
 * - has only 1 main direction
 */

.o⋄rich-text div.o⋄rich-text⁚inline {
	display: inline;
}

.o⋄rich-text ol,
.o⋄rich-text ul {
	padding-left: 24px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

ol.o⋄rich-text⋄list--no-bullet,
ul.o⋄rich-text⋄list--no-bullet {
	list-style-type: none;
	padding-left: 12px;
}
ol.o⋄rich-text⋄list--interactive,
ul.o⋄rich-text⋄list--interactive {
	list-style-type: none;
	padding-left: 0;
}

button.o⋄rich-text⋄interactive {
	padding: 0 .1em;
}

.o⋄rich-text⋄list--interactive button.o⋄rich-text⋄interactive {
	padding: .2em;
	height: 3em;
	width: 99%;
	text-align: left;
}

/* not namespaced since may be
div.o⋄rich-text⋄modal__dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #e5e5e5;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	/*padding: 20,
}*/

/* react */
.ToolTipPortal {
	z-index: 999;
}
