/* Global considerations for Rich Text display:
 * - must be "terminal-like", since it's supposed to be displayed the same on a console
 * - has only 1 main direction
 */

.o⋄rich-text div.o⋄rich-text⁚inline {
	display: inline;
}

.o⋄rich-text h3 {
	/*margin: 0;*/
}

.o⋄rich-text ol,
.o⋄rich-text ul {
	/*margin: 0;*/
	padding-left: 24px;
}

.o⋄rich-text li {
	/*list-style-position: inside;*/
}

.o⋄rich-text ul > li > * {
	/*position: relative;
	left: -7px;*/
}

.o⋄rich-text ol.o⋄rich-text⋄list--no-bullet,
.o⋄rich-text ul.o⋄rich-text⋄list--no-bullet {
	list-style-type: none;
	padding-left: 12px;
}

.o⋄rich-text ol.o⋄rich-text⋄list--interactive,
.o⋄rich-text ul.o⋄rich-text⋄list--interactive {
	list-style-type: none;
	padding-left: 0;
}

/*.o⋄rich-text ul.o⋄rich-text⋄list--no-bullet > li > * {
	position: unset;
	left: unset;
}*/

.o⋄rich-text button.o⋄rich-text⋄interactive {
	display: inline-block;
	box-sizing: border-box;
	border: 0.1em solid #000000;
	border-radius: 0.12em;

	padding: 0.46em 1.6em;
	margin: 0 0.2em 0.2em 0;
	xxtext-decoration: none;
	text-align: left;
	transition: all 0.15s;

	outline: none;
}
.o⋄rich-text button.o⋄rich-text⋄interactive:hover {
	border-color: #FFFFFF;
}
@media all and (max-width: 30em) {
	.o⋄rich-text button.o⋄rich-text⋄interactive {
		display: block;
		margin: 0.4em auto;
	}
}

/* not namespaced since may be
div.o⋄rich-text⋄modal__dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #e5e5e5;
	background-color: white;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	/*padding: 20,
}*/
