


.tbrpg⋄bg-image⁚desert {
	background-image: url('backgrounds/artwork1-dan_zhao.jpg');
	background-position: 59%;
}

.tbrpg⋄bg-image⁚lost_castle {
	background-image: url('backgrounds/artwork2-dan_zhao.jpg');
	background-position: 29%;
}

.tbrpg⋄bg-image⁚fields_of_gold {
	background-image: url('backgrounds/fields_of_gold-andreas_rocha.jpg');
	background-position: 62%;
}

.tbrpg⋄bg-image⁚journey_to_the_center_of_the_earth {
	background-image: url('backgrounds/journey_to_the_center_of_the_earth-raphael_lacoste.jpg');
	background-position: 51%;
}

.tbrpg⋄bg-image⁚return_of_the_knight {
	background-image: url('backgrounds/return_of_the_knight-raphael_lacoste.jpg');
	background-position: 77%;
}

.tbrpg⋄bg-image⁚city_gates {
	background-image: url('backgrounds/city_gates-andreas_rocha.jpg');
	background-position: 64%;
}

.tbrpg⋄bg-image⁚north_country {
	background-image: url('backgrounds/some_skyrim_like.jpg');
	background-position: 2%;
}

.tbrpg⋄bg-image⁚snowcapped_environment {
	background-image: url('backgrounds/snowcapped_environment-julius_camenzind.jpg');
	background-position: 60%;
}

.tbrpg⋄bg-image⁚half_remembered_ruins {
	background-image: url('backgrounds/half_remembered_ruins-blinck.jpg');
	background-position: 74%;
}

.tbrpg⋄bg-image⁚civilization {
	background-image: url('backgrounds/civilization-blinck.jpg');
	background-position: 41%;
}


.panel-top-content {
	padding: 5px;
	overflow-y: auto;
}

.main-area {
	z-index: calc(10 + var(--omr⋄ui__immersion-view--z-index));
	font-size: 15px;
}

/* override */
.o⋄centered-article {
	padding: 0;
}
