
.tbrpg⋄bg-image⁚andreas_rocha-ar_nat_village {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-ar-nat-village.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-at_the_gate {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-at-the-gate.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-blue_valley {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-blue-valley.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-city_gates {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-city-gates.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-dangerous_roads {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-dangerous_roads.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-dark_citadel {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-dark_citadel.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-dark_times {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-dark_times.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-deep_in_the_forest {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-deep_in_the_forest.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-deep_in_the_jungle {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-deep_in_the_jungle.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-deep_shadows {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-deep_shadows.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-dragons_pass {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-dragons_pass.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-first_rays {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-first_rays.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-foundation {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-foundation.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-hidden_treasures {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-hidden_treasures.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-homage_to_sintra {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-homage_to_sintra.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-ice_temple {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-ice_temple.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-ill_tidings {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-ill-tidings.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-magic_hour {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-magic_hour.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-mountain_pass {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-mountain_pass.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-old_forest {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-old_forest.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-peace_of_mind {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-peace_of_mind.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-safe_haven {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-safe_haven.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-spring_is_coming {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-spring_is_coming.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-the_citadel {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-the_citadel.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-the_fiery_forest {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-the_fiery_forest.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-the_gathering {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-the_gathering.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-the_last_fortress {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-the_last_fortress.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-the_message {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-the_message.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-the_path_of_wisdom {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-the_path_of_wisdom.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-unnamed_1 {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-unnamed_1.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-unnamed_2 {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-unnamed_2.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-warm_mist {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-warm_mist.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-waterfall_memories {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-waterfall_memories.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-wizards_tower {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas-rocha-wizards_tower.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-cold_march {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas_rocha-Cold_March.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-morning_arrival {
	background-image: url('rsrc/license-pending/Andreas_Rocha/andreas_rocha-Morning_Arrival.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚andreas_rocha-fields_of_gold {
	background-image: url('rsrc/license-pending/Andreas_Rocha/fields_of_gold-andreas_rocha.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚cyril_labranche-pike {
	background-image: url('rsrc/license-pending/Cyril_Labranche/cyril-labranche-pike.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dan_zhao-ancient_castle {
	background-image: url('rsrc/license-pending/Dan_Zhao/ancient_castle-dan_zhao.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dan_zhao-artwork_1 {
	background-image: url('rsrc/license-pending/Dan_Zhao/artwork_1-dan_zhao.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dan_zhao-artwork_2 {
	background-image: url('rsrc/license-pending/Dan_Zhao/artwork_2-dan_zhao.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dan_zhao-cabin_in_the_cave {
	background-image: url('rsrc/license-pending/Dan_Zhao/cabin_in_the_cave-dan_zhao.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dan_zhao-practice {
	background-image: url('rsrc/license-pending/Dan_Zhao/practice-dan_zhao.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dan_zhao-secluded_valley {
	background-image: url('rsrc/license-pending/Dan_Zhao/secluded_valley-dan_zhao.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚daniel_alekow-albion_lymhurst {
	background-image: url('rsrc/license-pending/Daniel_Alekow/daniel-alekow-albion-lymhurst.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚daniel_alekow-inside_caerleon {
	background-image: url('rsrc/license-pending/Daniel_Alekow/daniel-alekow-inside-caerleon.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dmitry_kremiansky-a_secret_place_alps {
	background-image: url('rsrc/license-pending/Dmitry_Kremiansky/dmitry-kremiansky-a_secret_place_alps.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dmitry_kremiansky-depth_needed {
	background-image: url('rsrc/license-pending/Dmitry_Kremiansky/dmitry-kremiansky-depth_needed.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dmitry_kremiansky-ship {
	background-image: url('rsrc/license-pending/Dmitry_Kremiansky/dmitry-kremiansky-ship.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚dmitry_kremiansky-streets {
	background-image: url('rsrc/license-pending/Dmitry_Kremiansky/dmitry-kremiansky-streets.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚jorge_miguel_jacinto-civilization {
	background-image: url('rsrc/license-pending/Jorge Miguel Jacinto/civilization.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚jorge_miguel_jacinto-half_remembered_ruins {
	background-image: url('rsrc/license-pending/Jorge Miguel Jacinto/half_remembered_ruins.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚julius_camenzind-snowcapped_environment {
	background-image: url('rsrc/license-pending/Julius_Camenzind/snowcapped_environment-julius_camenzind.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-castle_phantom {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/castle_phantom-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-gnomon {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/gnomon-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-gothic_choir {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/gothic_choir-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-journey_to_the_center_of_the_earth {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/journey_to_the_center_of_the_earth-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-jungle {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/jungle-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-kvasir_fortress {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/kvasir_fortress-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-landscape {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/landscape-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-lost_island {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/lost_island-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-monoliths {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/monoliths-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-return_of_the_knight {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/return_of_the_knight-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-ride_at_dusk {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/ride_at_dusk-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-santa_lucia_arrival {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/santa_lucia_arrival-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-skye_land {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/skye_land-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-the_coast {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/the_coast-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-the_encounter {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/the_encounter-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-the_journey {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/the_journey-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-the_mangrove {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/the_mangrove-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚raphael_lacoste-viking_ambush {
	background-image: url('rsrc/license-pending/Raphael_Lacoste/viking_ambush-raphael_lacoste.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚robh_ruppel-tangled_castle {
	background-image: url('rsrc/license-pending/Robh_Ruppel/robh_ruppel-tangled_castle.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚thomas_stoop-snow_forest_1 {
	background-image: url('rsrc/license-pending/Thomas Stoop/thomas-stoop-snow_forest_1.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚thomas_stoop-snow_forest_2 {
	background-image: url('rsrc/license-pending/Thomas Stoop/thomas-stoop-snow_forest_2.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚thomas_stoop-snow_forest_3 {
	background-image: url('rsrc/license-pending/Thomas Stoop/thomas-stoop-snow_forest_3.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚paperblue.net-bank {
	background-image: url('rsrc/license-pending/paperblue.net/paperblue-net-bank.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚paperblue.net-castle {
	background-image: url('rsrc/license-pending/paperblue.net/paperblue-net-castle.jpg');
	background-position: 50% 50%;
}


.tbrpg⋄bg-image⁚paperblue.net-shop {
	background-image: url('rsrc/license-pending/paperblue.net/paperblue-net-shop.jpg');
	background-position: 50% 50%;
}
