<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
		  id="com.OffirmoOnlineAdventures.TheBoringRPG"
		  version="0.0.1"
		  defaultlocale="en"
> <!-- android: "id" Must look like: `com.company.Name` -->
	<name short="Boring RPG">The Boring RPG</name>
	<description>
		The simplest RPG ever!
	</description>
	<author email="offirmo.net+cordova--tbrpg@gmail.com" href="https://www.offirmo.net">
		Offirmo
	</author>

	<content src="index-cordova.html" />
	<!-- https://cordova.apache.org/docs/en/latest/config_ref/images.html -->
	<icon src="www/favicons/Icon-60@2x.png" />
	<!-- https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-splashscreen/index.html#preferences -->
	<splash src="res/ios/Default@2x~universal~anyany.png" />
	<preference name="FadeSplashScreenDuration" value="500"/>
	<preference name="AutoHideSplashScreen" value="false" />

	<platform name="android">
		<!-- Ms App center -->
		<preference name="APP_SECRET" value="7120d50a-e827-4796-a206-2fb47c20ec4b" />
	</platform>

	<platform name="ios">
		<!-- Ms App center -->
		<preference name="APP_SECRET" value="51d1871a-a050-4997-be30-b70c8ea88974" />
		<!-- https://developer.apple.com/library/archive/qa/qa1686/_index.html -->
		<icon src="www/favicons/icon-60@2x.png" width="120" height="120" />
		<icon src="www/favicons/icon-76.png" width="76" height="76" />
	</platform>

	<plugin name="cordova-plugin-whitelist" spec="1" />
	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="mailto:*" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*"/>
		<allow-intent href="itms-apps:*"/>
	</platform>

	<!-- https://cordova.apache.org/docs/en/latest/config_ref/index.html#preference -->
	<preference name="Orientation" value="portrait" />
	<preference name="Fullscreen" value="true" />
	<preference name="BackgroundColor" value="0xff000000"/>
	<preference name="DisallowOverscroll" value="true"/>

	<!-- iOS only preferences -->
	<preference name="EnableViewportScale" value="true"/>

	<!-- Android only preferences -->
	<preference name="android-minSdkVersion" value="11"/> <!-- >10 https://cordova.apache.org/docs/en/latest/guide/appdev/security/index.html -->
	<preference name="InAppBrowserStorageEnabled" value="false"/>
</widget>
