/******* OMR customization *******/

/* parameters we can't compute automatically */
.omr⋄top-hud {
	--omr⋄ui__logo--width: calc(185px * var(--omr⋄ui__scale));
	--omr⋄ui__logo--padding: 0; /* because we have an internal a */
}

/* customizations */
.omr⋄logo img {
	image-rendering: crisp-edges;
}
.omr⋄top-hud a {
	padding: calc(5px * var(--scale)) calc(5px * var(--scale)) calc(3px * var(--scale));
}

.status⁚avatar--icon {
	align-self: center;
	font-size: 26px;
	margin-right: 4px;
}
.status⁚avatar--details {
	line-height: 14px;
}

.omr⋄plane⁚immersion .omr⋄content-area {
	max-width: 650px;
	margin: auto;
	font-size: 15px;
}

/******* additions *******/

.tbrpg⋄bg-image⁚fields_of_gold {
	background-image: url('fieldsofgold01_by_andreasrocha.jpg');
	background-position: 62%;
}




.panel-top-content {
	padding: 5px;
}
