
.chat {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5px;
}

.chat__element {
	margin: 3px 0;
	position: relative; /* to allow absolute positioning of content */
	max-width: 80%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}
.chat__element--ltr {
	align-self: flex-start;
}
.chat__element--rtl {
	align-self: flex-end;
}

.chat__bubble,
.chat__choices button {
	padding: .5em .8em .4em;
	width: fit-content;
	background-color: rgba(0,0,0,0.42);
	border-radius: .4em;
}


.chat__spinner {
	background-image: url("./Spinner-1s-42px.svg");
	background-repeat: no-repeat;
	background-position: 10px 0;
	height: 42px;
}

.chat__choices {
	padding-right: 10px;
	padding-bottom: 12px;
	text-align: end;
	justify-content: flex-end;
}
.chat__choices button {
	color: inherit;
	text-align: left;
	border: solid 2px var(--o⋄color--fg⁚main);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
.chat__choices button:hover {
	/*border-width: 3px;*/
	transform: translateY(-1px);
}
.chat__choices button:active {
	transform: translateY(1px);
}


.chat__input {
	height: 26px;
	border: solid 1px #00000038;
	margin-right: 2px;
}

/* https://stackoverflow.com/a/8185290/587407 */
/*.chat__choices > * + * {
	margin-left: 5px;
}*/
