#group-chat-container {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	min-width: 400px;
	max-width: 500px;
	background-color: rgba(0, 0, 0, .5);

	transform: translate3d(500px, 0, 0);
	transition: transform .25s ease-in-out;
}
.group-chat-container--open {
	transform: translate3d(0, 0, 0) !important;
}
#tlkio-error-msg {
	color: #fff;
	padding: 20px;
	text-align: center;
}
