/* parameters we can't compute automatically */
:root {
	--omr⋄ui__universe-anchor--padding_: 3px;
}

.status⁚avatar--details {
	line-height: 12px;
	font-size: 12px;
}

.status⁚avatar--klass {
	text-transform: capitalize;
}

/* TODO clean
.status⁚energy {
	position: relative;
	margin: 0 4px;
	display: flex;
	width: 22px;
	height: 22px;
}

.status⁚energy__content {
	position: absolute;
	top: 6px;
	left: 5px;
	font-size: 12px;
	line-height: 12px;
}

.status⁚energy .CircularProgressbar-path       { stroke: var(--o⋄color⁚fg--main); }
.status⁚energy .CircularProgressbar-trail      { stroke: var(--o⋄color⁚co212__brown); }
.status⁚energy .CircularProgressbar-text       { fill: orange; }
.status⁚energy .CircularProgressbar-background { fill: green; }
*/
