/******* OMR customization *******/

/* parameters we can't compute automatically */
:root {
	--omr⋄ui__logo-content--width_: 163px;
	/*--omr⋄ui__universe-anchor-content--width_: 230px*/
}

/* customizations */
.omr⋄logo {
	padding-bottom: calc(4px * var(--scale));
}
.omr⋄logo img {
	image-rendering: crisp-edges;
	/*padding-bottom: calc(4px * var(--scale));*/
}

.status⁚avatar--icon {
	align-self: center;
	font-size: 26px;
	margin-right: 4px;
}
.status⁚avatar--details {
	line-height: 14px;
}


/* Debug */
/*
.o⋄top-container {
	border-width: 1px;
}
*/

/* strange overlap bug on mobile */
.omr⋄content-area--inner {
	pointer-events: none;
}
.omr⋄content-area--inner > * {
	pointer-events: auto;
}
