/* http://bettermotherfuckingwebsite.com/ */

body {
	margin: 0 auto;
	padding: 0;
	max-width: 650px;

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	line-height: 1.6;
	color: #333;
}
h1, h2, h3 {
	line-height: 1.2;
}

/*********************/
.container {
	height: 100vh;
	overflow: hidden;
}

.route-container {
	height: calc(100vh - 29px); /* px = height of nav */
	overflow: auto;
}

/*********************/
.the-boring-rpg-nav {
	padding: 5px 10px;
}

.the-boring-rpg-nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.the-boring-rpg-nav li {
}
.the-boring-rpg-nav li:not(:first-child) {
	margin-left: 20px;
}

.the-boring-rpg-nav a {
	text-decoration: none;
}
.the-boring-rpg-nav a.active {
	font-weight: bold;
}
.the-boring-rpg-nav a.active:before {
	content: '';
}

/*********************/
.page--character,
.page--inventory,
.page--meta {
	padding: 7px;
}

/*********************/
.chat {
	display: flex;
	flex-direction: column;
}
.chat__bubble {
	border: solid 1px;
	padding: 7px;
	border-right: 0;
	border-top: 0;
	margin: 7px;
	width: fit-content;
	max-width: 70%;
}
.chat__bubble--ltr {
	align-self: flex-start;
}
.chat__bubble--rtl {
	align-self: flex-end;
}

/*********************/
.element {
}

.item__name,
.avatar__name,
.avatar__class,
.monster__name {
	font-weight: bold;
}

.item--quality--common {
	color: #909090;
}
.item--quality--uncommon {
	color: forestgreen;
}
.item--quality--epic {
	color: mediumblue;
}
.item--quality--legendary {
	color: #d9534f;
}
.item--quality--artifact {
	color: #fad700;
}

.monster--rank--common {
}
.monster--rank--elite {
	color: #fad700;
}
.monster--rank--boss {
	color: #d9534f;
}


.item--weapon:before {
	content: '⚔ ';
}
.item--armor:before {
	content: '🛡 ';
}

.currency--coin:before {
	content: '💰 ';
}
.currency--token:before {
	content: '💠  ';
}
/*

switch($class) {

		case 'attribute--level':
			return '👶 ' + WIDTH_COMPENSATION + str
		case 'attribute--health':
			return '💗 ' + WIDTH_COMPENSATION + str
		case 'attribute--mana':
			return '💙 ' + WIDTH_COMPENSATION + str
		case 'attribute--agility':
			return '🤸 ' + WIDTH_COMPENSATION + str
		case 'attribute--luck':
			return '🤹 ' + WIDTH_COMPENSATION + str
		case 'attribute--strength':
			return '🏋 ' + WIDTH_COMPENSATION + str
		case 'attribute--charisma':
			return '👨🎤 ' + WIDTH_COMPENSATION + str
		case 'attribute--wisdom':
			return '👵 ' + WIDTH_COMPENSATION + str

		case 'monster':
			return str + ' ' + hints.possible_emoji + WIDTH_COMPENSATION
		case 'rank--common':
			return str
		case 'rank--elite':
			return stylize_string.bold(str + '★')
		case 'rank--boss':
			return stylize_string.bold(str + ' 👑' + WIDTH_COMPENSATION)
 */

/******/

.action-btn {
	background: #d98c34;
	background-image: linear-gradient(to bottom, #d98c34, #b8772c);
	border-radius: 4px;
	color: #000000;
	padding: 2px 4px 2px 4px;
	border: solid #8c591f 2px;
	text-decoration: none;
}

.action-btn:hover {
	background: #f2ae3a;
	background-image: linear-gradient(to bottom, #f2ae3a, #b87427);
	text-decoration: none;
}
