@import '../../node_modules/@tbrpg/ui--browser--css/src/style.css';

#meta-panel, .bm-menu-wrap {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--o⋄color⁚bg--main--backdrop);
	border-right: solid 2px;
}

/* https://stackoverflow.com/a/37600130/587407 */
/* big screens */
#meta-panel {
	width: 400px;
}
/* small screens */
@media screen and (max-width: 400px) {
	#meta-panel {
		width: 95%;
	}
}
