
.chat {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5px;
}

.chat__element {
	margin: 3px 0;
	padding: 0;
	position: relative; /* to allow absolute positioning of content */
	max-width: 80%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;

	border-radius: .4em;
}
.chat__element--ltr {
	align-self: flex-start;
}
.chat__element--rtl {
	align-self: flex-end;
}

.chat__bubble,
.chat__choices button {
	padding: .5em .8em .4em;
	width: fit-content;
	/* background only here since we don't want bg between buttons */
	background-color: var(--o⋄color⁚bg--main--backdrop);
}
/* redefine active and hover since we altered the bg */
.chat__choices button:hover {
	background-color: rgba(33%, 33%, 33%, .9);
}
/*
.chat__choices button:active {
	background-color: var(--o⋄color⁚bg--highlight--2);
}*/

.chat__spinner {
	background-image: url("./Spinner-1s-42px.svg");
	background-repeat: no-repeat;
	background-position: 10px 0;
	height: 42px;
}

.chat__choices {
	text-align: end;
	justify-content: flex-end;
}

.chat__input {
	height: 26px;
	border: solid 1px #00000038;
	margin-right: 2px;
}

.chat__progress {

}
