
.panel-top-content {
	padding: 5px;
	overflow-y: auto;
}

/* TODO move to OMR ? */
.main-area {
	z-index: calc(10 + var(--omr⋄ui__immersion-view--z-index));
}

/* override. TODO review */
.o⋄centered-article {
	padding: 0;
}
