
#about-panel {
	position: fixed;
	top: 0;
	left: 0;
	padding: 30px;
	text-align: center;
	width: 100%;
	background-color: var(--o⋄color--bg⁚main--backdrop);
}


#about-panel .omr-auto-logo {
	width: 300px;
	margin: 0 auto;
}
#about-panel .omr-auto-logo img {
	width: 100%;
}
