

.omr⋄bg-color⁚bg-main--translucent {
	background-color: var(--o⋄color⁚bg--main--translucent);
}

/*
.omr⋄rounded-rectangle {
	--diameter: calc(var(--omr⋄ui__hamburger--diameter) * var(--scale));
}
*/
