
/* very convenient container to propagate full height
 * NOTE: full height applied by default on <html> and <body>
 * but adding this activates the debug markings
 */
.o⋄top-container {
	display: flex;
	flex-direction: column;

	height: 100%;

	/* To be able to scroll inside a flexbox
	 * https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336
	 */
	flex-grow: 1;
	min-height: 0; /* or else min-height may be too big */
}

.o⋄centered-article {
	max-width: 650px; /* a suggested good max width for text content. Taken from http://bettermotherfuckingwebsite.com/ */
	width: 100%; /* avoid lower than max if possible. Possible alternative: inherit */

	margin: 0 auto;/* horizontal centering */

	padding: 7px; /* looks good by default. Use o⋄pad⁚0 else */
}

.o⋄body⁚full-page {
	max-width: unset;
	width: 100%; /* avoid lower than max if possible */
	margin: 0;
	padding: 0;
}

.o⋄border⁚default {
	border: solid var(--o⋄border--thickness) var(--o⋄color--fg⁚main);
}

.o⋄error-report {
	font-size: xx-small;
	font-family: monospace;
	color: red; /* TODO */
	background-color: rgba(0, 0, 0, .3); /* TODO */
	margin: auto;
	z-index: 100000; /* just in case TODO check */
}
.o⋄error-report > pre {
	white-space: pre-wrap;
	text-align: initial;
}


.o⋄box {
	padding: 1em;
	color: var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main);
	border: solid calc(var(--o⋄border--thickness) * 1) var(--o⋄color--fg⁚main);
}
