

:root {
	/* transfer the env() to variables so that
	 * - we can programmatically read them
	 * - we can override them (carefully)
	 * Of course only the var() version must be used in the framework.
	 */
	--safe-area-inset-top:    env(safe-area-inset-top,    0px);
	--safe-area-inset-right:  env(safe-area-inset-right,  0px);
	--safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
	--safe-area-inset-left:   env(safe-area-inset-left,   0px);
}

:root {
	--o⋄scale: 1.0; /* overall scale of the UI, to allow programmatic scaling TODO calc(var(--o⋄scale) * XXX);*/

	/* base sizes */
	--o⋄content-recommended-width: calc(650px * var(--o⋄scale)); /* a suggested good max width for text content. Taken from https://bettermotherfuckingwebsite.com/ */
	--o⋄font-size--default: calc(14px * var(--o⋄scale));
	--o⋄line-height--default: 1.5;
	--o⋄border--thickness: 1px;
	--o⋄header-scale-ratio: 2; /* the ratio between the h1 font size and the baseFontSize.
	    So if the scale ratio is 2 and the baseFontSize is 16px then the h1 font size is 32px
	    inspired by https://kyleamathews.github.io/typography.js/
	   */

	/* TODO share the padding values? */
}

/* Good tools:
 * https://www.cssportal.com/css-color-converter/
 * https://picular.co/quality
 *
 * Principles:
 * - https://ianstormtaylor.com/design-tip-never-use-black/
 */
:root {
	/* modifiers, to be used as overlays */
	--o⋄color⁚darker--10: rgba(0, 0, 0, .1);
	--o⋄color⁚darker--20: rgba(0, 0, 0, .2);
	--o⋄color⁚darker--90: rgba(0, 0, 0, .9);

	--o⋄color⁚lighter--10: rgba(100%, 100%, 100%, .1);
	--o⋄color⁚lighter--20: rgba(100%, 100%, 100%, .2);
	--o⋄color⁚lighter--90: rgba(100%, 100%, 100%, .9);

	/*
	--o⋄color⁚dolt__quasi-black: hsl(0, 0%, 17%);
	--o⋄color⁚dolt__dark-grey:   hsl(0, 0%, 33%);
	--o⋄color⁚dolt__medium-grey: hsl(0, 0%, 66%);
	--o⋄color⁚dolt__quasi-white: hsl(0, 0%, 98%);
	*/

	/* from https://boz.com/
	 * Looks good on dark backgrounds
	 */
	--o⋄color⁚boz__gray:     hsl(0,    0%, 60%);
	--o⋄color⁚boz__yellow:   hsl(53,  87%, 57%);
	--o⋄color⁚boz__pink:     hsl(318, 87%, 69%);
	--o⋄color⁚boz__green:    hsl(93,  73%, 61%);
	--o⋄color⁚boz__cyan:     hsl(180, 86%, 52%);
	--o⋄color⁚boz__blue:     hsl(199, 81%, 56%);
	--o⋄color⁚boz__purple:   hsl(269, 83%, 77%);
}
