

.o⋄colorꘌmain {
	color: var(--o⋄color⁚fg--main);
}

.o⋄colorꘌsecondary {
	color: var(--o⋄color⁚fg--secondary);
}

.o⋄colorꘌancillary {
	color: var(--o⋄color⁚fg--ancillary);
}

.o⋄border-colorꘌancillary {
	border-color: var(--o⋄color⁚fg--ancillary);
}
