
/*********************/

:root {
	--o⋄border--thickness: 1px;
	--o⋄font-size--default: 14px;
	/*--o⋄border--thickness: .08em;*/
}

/* apply a natural box layout model to all elements, but allowing components to change
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://github.com/mike-engel/a11y-css-reset/pull/12#issuecomment-516582884
 */
html                   { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* but allow to reset it if needed
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
.box-sizing-reset {
	box-sizing: initial;
}

/*********************/

html, body {
	height: 100%;
	/* TOCHECK
	 * https://github.com/mike-engel/a11y-css-reset/blob/master/reset.css
	 */
	min-height: 100%;
	width: 100%;
}

html {
	margin: 0;
	padding: 0;

	/* https://evilmartians.com/chronicles/scroll-to-the-future-modern-javascript-css-scrolling-implementations */
	scroll-behavior: smooth;
}

body {
	/* adapted from http://perfectmotherfuckingwebsite.com */
	max-width: 650px;
	margin: 0 auto; /* 0 for the 100% trick to work, auto for centering */
	padding: 40px 10px;
	font-family: var(--o⋄font-family--fast_and_good_enough);
	color: var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main);

	/* https://www.leejamesrobinson.com/blog/how-stripe-designs-beautiful-websites/ */
	text-rendering: optimizeLegibility; /* challenge about perf: https://marco.org/2012/11/15/text-rendering-optimize-legibility
	                                     * Tested: this options makes a TOO HUGE difference in quality to be missed.
	                                     * For ex. it enables the computing of lighter/bolder variants.
	                                     */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	line-height: 1.6; /* 1.5 also suggested */
	font-size: var(--o⋄font-size--default);
}


h1, h2, h3 {
	/* http://perfectmotherfuckingwebsite.com/ */
	line-height: 1.2;
}
h1, h2, h3, h4, p {
	/* because they are too big by default */
	margin: .7em 0;
}


/* nicer lists */
ul {
	/* instead of fixed */
	padding-inline-start: 2em;
}


/* nicer collapsibles */
details > *:nth-child(n+2) { /* assuming the 1st child is the <summary> */
	padding-left: 1.1em;
}


img {
	/* src: ? */
	image-rendering: -webkit-optimize-contrast;
	/* https://photo.stackexchange.com/questions/104337/how-i-can-losslessly-rotate-photos#comment217649_104340 */
	image-orientation: from-image;
}


/* Adapt links to the main color.
 * Better than the defaults.
 */
a {
	text-decoration-color: var(--o⋄color--fg⁚secondary);
	touch-action: manipulation; /* we assume PWA, https://webkit.org/blog/5610/more-responsive-tapping-on-ios/ */
}
a:link,
a:visited {color: inherit;}
a:hover,
a:active {color: var(--o⋄color--fg⁚accent);}


/* Nicer HR
 * possible ideas: https://css-tricks.com/examples/hrs/
 */
hr {
	/* simple one */
	width: 100%;
	border: none;
	border-top: var(--o⋄border--thickness) solid;
	background-color: var(--o⋄color--fg⁚ancillary);
}


/* https://github.com/mike-engel/a11y-css-reset/blob/master/a11y.css */
/* prettier-ignore */
@media(prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition: none !important;
		animation: none !important;
		scroll-behavior: auto !important;
	}
}

iframe {
	/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe#Attributes */
	border: 0;
}
