
/******* emojis as icons *******
 * https://preethisam.com/2018/06/25/how-to-use-emojis-as-icons/
 */
.o⋄character-as-icon { /* TODO clarify. Emojis or more? */
	color: transparent;
	text-shadow: 0 0 var(--o⋄color⁚fg--main);
	vertical-align: text-top; /* visually better, this is not text */
}

/* TODO remove past d */
.o⋄rotated⁚45deg {
	display: inline-block;
	transform-origin: 50% 50% 0;
	transform: rotate(45deg) translate3d( 0, 0, 0);
}
.o⋄rotated⁚90deg {
	display: inline-block;
	transform-origin: 50% 50% 0;
	transform: rotate(90deg) translate3d( 0, 0, 0);
}
.o⋄rotated⁚180deg {
	display: inline-block;
	transform-origin: 50% 50% 0;
	transform: rotate(180deg) translate3d( 0, 0, 0);
}
.o⋄rotated⁚270deg {
	 display: inline-block;
	 transform-origin: 50% 50% 0;
	 transform: rotate(270deg) translate3d( 0, 0, 0);
 }

