
@font-face {
	font-family: 'Spectral';
	src: url('webfont--spectral-regular.woff') format('woff');
}

@font-face {
	font-family: 'PixAntiqua';
	src:url('webfont--pixantiqua.woff') format('woff');
}

/*********************/

:root {
	--omr⋄font⁚spectral: 'Spectral', sans-serif;
	--omr⋄font⁚pixantiqua: 'PixAntiqua', sans-serif;
}

/*********************/

.omr⋄font⁚spectral {
	font-family: var(--omr⋄font⁚spectral);
	letter-spacing: -.05px;
}
.omr⋄text-with-shadow.omr⋄font⁚spectral,
.omr⋄text-with-shadow .omr⋄font⁚spectral,
.omr⋄font⁚spectral .omr⋄text-with-shadow
{
	color: var(--o⋄color⁚quasi-white);
	text-shadow:
		0.07em 0 black,
		0 0.07em black,
		-0.07em 0 black,
		0 -0.07em black;
}

.omr⋄font⁚pixantiqua {
	font-family: var(--omr⋄font⁚pixantiqua);
	letter-spacing: .35px;
	line-height: 1.65;
}
.omr⋄text-with-shadow.omr⋄font⁚pixantiqua,
.omr⋄text-with-shadow .omr⋄font⁚pixantiqua,
.omr⋄font⁚pixantiqua .omr⋄text-with-shadow
{
	color: var(--o⋄color⁚quasi-white);
	text-shadow:
		-2px 0 black,
		0 2px black,
		2px 0 black,
		0 -2px black;
}

/*********************/

/* credits: https://www.dota2.com/international/battlepass/ 2020/06 */
.omr⋄text⁚glowing--gold {
	color: #fff;
	text-shadow: 0px 0px 16px #C79123;
}

/* credits: https://www.dota2.com/international/battlepass/ 2020/06 */
[data-o-theme^='lod--'] .omr⋄text⁚outlined  {
	text-shadow: 0 2px 1px rgba(0,0,0,0.8);
}
.omr⋄text⁚outlined,
[data-o-theme^='dol--'] .omr⋄text⁚outlined  {
	text-shadow: 0 2px 1px rgba(255,255,255,0.8);
}
