
.omr⋄text-with-shadow.omr⋄font⁚spectral,
.omr⋄text-with-shadow .omr⋄font⁚spectral,
.omr⋄font⁚spectral .omr⋄text-with-shadow
{
	color: var(--o⋄color⁚bg--main);
	text-shadow:
		0.07em 0 black,
		0 0.07em black,
		-0.07em 0 black,
		0 -0.07em black;
}

.omr⋄text-with-shadow.omr⋄font⁚pixantiqua,
.omr⋄text-with-shadow .omr⋄font⁚pixantiqua,
.omr⋄font⁚pixantiqua .omr⋄text-with-shadow
{
	color: var(--o⋄color⁚bg--main);
	text-shadow:
		-2px 0 black,
		0 2px black,
		2px 0 black,
		0 -2px black;
}

/*********************/

/* credits: https://www.dota2.com/international/battlepass/ 2020/06 */
.omr⋄text⁚glowing--gold {
	color: #fff;
	text-shadow: 0px 0px 16px #C79123;
}

/* credits: https://www.dota2.com/international/battlepass/ 2020/06 */
[data-o-theme^='light--'] .omr⋄text⁚outlined  {
	text-shadow: 0 2px 1px rgba(0,0,0,0.8);
}
.omr⋄text⁚outlined,
[data-o-theme^='dark--'] .omr⋄text⁚outlined  {
	text-shadow: 0 2px 1px rgba(255,255,255,0.8);
}
