
.bm-menu-wrap {
	/*position: fixed;
	top: 0;
	left: 0;*/
	background-color: var(--o⋄color--bg⁚main--backdrop);
	border-right: solid 2px;
}

/* https://stackoverflow.com/a/37600130/587407 */
/* big screens */
.bm-menu-wrap {
	width: 400px;
}
/* small screens */
@media screen and (max-width: 400px) {
	.bm-menu-wrap {
		width: 95%;
	}
}
